/* @import './base.css'; */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&display=swap');

body{
  font-family: 'Cairo', sans-serif;
  background-color: #ffffff;
}
html {
  scroll-behavior: smooth;
}
a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}
img{
  user-select: none;
}
@media (hover: hover) {
  a:hover {
    color: #49a6f6;
  }
  button:hover {
    background-color: #0e3782;
    transition: 0.5s;
  }
}

@media (min-width: 1024px) {
  body {
   
  }


}

.swiper-button-next,
.swiper-button-prev{
  background-color: #020617;
  padding: 1.6rem;
  border-radius: 12px;
  opacity: 0.8;
  --swiper-navigation-size: 30px;
  --swiper-navigation-top-offset: 50%;
  --swiper-navigation-sides-offset: 10px;
  --swiper-navigation-color: #f1f5f9;
}

.swiper-pagination-bullet {
    --swiper-pagination-color: #020617;
    --swiper-pagination-left: auto;
    --swiper-pagination-right: 8px;
    --swiper-pagination-bottom: 8px;
    --swiper-pagination-top: auto;
    --swiper-pagination-fraction-color: inherit;
    --swiper-pagination-progressbar-bg-color: rgba(0, 0, 0, 0.25);
    --swiper-pagination-progressbar-size: 4px;
    --swiper-pagination-bullet-size: 8px;
    --swiper-pagination-bullet-width: 8px;
    --swiper-pagination-bullet-height: 8px;
    --swiper-pagination-bullet-inactive-color: #000;
    --swiper-pagination-bullet-inactive-opacity: 0.2;
    --swiper-pagination-bullet-opacity: 1;
    --swiper-pagination-bullet-horizontal-gap: 4px;
    --swiper-pagination-bullet-vertical-gap: 6px;
  }